/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');



.title-container {
  display: flex;
  align-items: center;
  width: 50%;
  flex-direction: column;
  height: 50%;
  justify-content: center;
}

.title{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 3rem;
  color: #f2d527;
  font-weight: 600;
  text-align: center;
  width: 40%;
  text-transform: capitalize;
}

.decorative-line {
  background-image: linear-gradient(to right, #f2d527, transparent, transparent, #f2d527 100%);
  background-repeat: no-repeat;
  background-size: 100% 6px;
  background-position: 0 430px;
}

.btn.btn-background::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: #f2d527;
  transition: transform 300ms ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.btn.btn-background:hover::before,
.btn.btn-background:focus::before{
  transform: scaleX(1);
  cursor: pointer;
}

.btn.btn-background{
  transition: color 300ms ease-in-out;
  z-index: 1;
  position: relative;
}
  
  
.btn{
  font-family: 'Fraunces', sans-serif;
  color: white;
  font-size: 1.125rem;
  width: 250px;
  height: 55px;
  text-transform: uppercase;
  border: none;
  background-color: #be574b;
  font-weight: 700;
  letter-spacing: .1rem;
}

.btn:hover, .btn:focus{
  color: #2b4662;
  cursor: pointer;
}

#shadow-btn{
  box-shadow: 10px 10px;
}

/*Logo*/
div#logo {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  align-items: center;
}

/*Nav-Bar*/

header#nav-menu {
  height: 20%;
  position: relative;
  background: white;
}

nav.nav-bar {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}

ul.nav-list {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  width: 100%;
  position: absolute;
  font-family: 'Josefin Sans', sans-serif;
}

/*Nav-items hover animation*/

.link{
  position: relative;
}

.link::before {
  content: "";
}

.link::before, .link::after {
  position: absolute;
  width: 100%;
  height: 1px;
  background: currentColor;
  top: 100%;
  left: 0;
}

.line::before {
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s;
}

.line:hover::before {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
}

a.link.line {
  text-decoration: none;
  font-size: 1.5rem;
}

/*----End Nav----*/
  

.section-container{
  background: white;
  height: 100%;
}


.section-information{
  font-family: 'Josefin Sans', sans-serif;
  color: black;
  font-size: 3rem;
  font-weight: 700;
}

/*Essential code for the parallax effect*/
.wrapper{
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}
/*------*/

header{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.background{
  transform: translateZ(-10px) scale(2);
}

.foreground{
  transform: translateZ(-5px) scale(1.5);
}

.background, .foreground{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.color-change{
  color: #be574b;
}

.gap-style-change{
  text-transform: uppercase; 
  font-family: 'Fraunces', sans-serif; 
  font-weight: 700; 
  color: #4BB2BE;
}

.gap-container{
  margin: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gap-heading{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.gap-details{
  font-family: 'Lato, Arial, Helvetica', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #272626;
  line-height: 2.5rem;
}

.in-action {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gap-img {
  max-width: 70%;
  height: auto;
}

.gap-title{
  font-family: 'Fraunces', serif;
  font-size: 2rem;
  color: black;
  text-transform: uppercase;
  width: 100%;
  box-shadow: -20px 0px 0px 0px #be574b;
  padding-left: 1rem
}


  

.services{
  display: flex;
  align-items: center;
  margin: 5rem;
}

.services-title{
  font-family: 'Fraunces', serif;
  font-size: 2rem;
  color: black;
  text-transform: uppercase;
  width: 40%;
  box-shadow: -20px 0px 0px 0px #be574b;
  padding-left: 1rem
}
  

.service-card{
  background-color: #272626;
   border-radius: 1rem;
}

.services-container{
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2,auto);
  gap: 3rem;
  justify-items: center;
  align-items: center;
  margin: 5rem;
}

.services-information{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  gap: 3rem;
}

.service-headings{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #be574b;
  text-align: center;
}

.service-details{
  font-family: 'Lato, Arial, Helvetica', sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  color: whitesmoke;
  padding: 0 1rem;
}

#parent{
  position: relative;
  width: 100%;
  height: 100%;
}

#section-parent{
  padding-top: 4rem;
}

#s1{
  width: 800px;
  padding-left: 3rem;
  box-shadow: inset 4px 4px;
  padding-top: 1rem;
}

#s2{
  padding-right: 3rem;
  box-shadow: 4px 4px;
  padding-bottom: 1rem;
}

#child{
  position: absolute;
  background: white;
  box-sizing: border-box;
  height: auto;
  width: 900px;
  right: 0;
  top: 0;
  padding: 1rem;
  margin-top: 20rem;
  text-align: end;
}

.icons{
  width: 100px;
  height: auto;
}

.expertise-heading{
  display: flex; 
  align-items: center;
  justify-content: center;
  margin: 5rem;
  width: 100%;
  text-align: center;
}

.expertise-title{
  font-family: 'Fraunces', serif;
  font-size: 2.5rem;
  color: black;
  text-transform: uppercase;
  width: 100%;
}

.exp-img{
  width: 700px;
  height: auto;
}


#img-parent {
  display: flex;
  position: relative;
  width: 100vw;
  justify-content: center;
  margin: 5rem 0;
}

#img-child {
  position: absolute;
  background: white;
  box-sizing: border-box;
  height: auto;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  width: 600px
}

.offer-imgs{
  width: 700px;
  height: auto;
}

.growth-container, .create-container, .transform-container{
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  background-color: hsl(207, 100%, 98%); 
  color: black;
}

#growth, #create, #transform{
  width: 50%;
}

.growth-section, .create-section, .transform-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  justify-content: center;
}

.offer-titles {
  font-family: 'Fraunces', sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  margin: 0;
  color: #be574b;
}

.offer-details {
  width: 50%;
  font-family: 'Lato, Helvetica, Arial', sans-serif;
  font-size: 1.5rem;
}

/*This will make the image inherit the background of the next element in the HTML file. Will remove the white line separating the img and div container making a 
curved top and bottom background*/
.bg-inherit {
  display: inherit;
  width: 100%;
}

.about-us {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  margin: 8rem 0;
}

#about-btn {
  width: 300px;
  height: 70px;
  box-shadow: -10px -10px;
}

.decorative-line-2{
  background-image: linear-gradient(to right, black, transparent, transparent, black 100%);
  background-repeat: no-repeat;
  background-size: 100% 6px;
  background-position: 0 40px;
}

/*Footer styles*/

.footer-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 5rem 0;
}

.logo-contacts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.contact-list{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
}

.contact-items{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
}
ul li a {
  color: black;
}

li.contact-items > a {
  text-decoration: none;
}

.comp-logo{
  width: auto;
  height: auto;
}

#footer-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#foot-btn {
  width: 350px;
  height: 80px;
  box-shadow: 10px -10px;
}


/*Mobile*/

@media screen and (max-width: 500px){
  .section-information{
    font-size: 2rem;
  }
  
  .services-container{
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(2, auto);
    margin: 4rem 1rem 0;
  }
  
  .growth-container, .create-container, .transform-container{
    flex-direction: column;
  }
  
  .expertise-title{
    font-size: 2.45rem;
    width: 80%;
  }
  
  .offer-details{
    width: 100%;
    text-align: center;
  }
  
  .comp-logo{
    width: 100%;
  }
  
  ul.nav-list{
    padding: 0;
  }
  
  .offer-imgs{
    width: 100%;
  }
  
  .decorative-line{
    background-image: linear-gradient(to right, transparent, transparent, transparent, transparent);
  }
  
  .decorative-line-2{
  background-image: linear-gradient(to right, transparent, transparent, transparent, transparent);
}
  
  .gap-container{
    margin: 5rem 0;
  }
  
  .gap-title, .services-title{
    box-shadow: none;
    width: 100%;
  }
  
  .title{
    text-align: center;
    width: 80%;
  }
  
  .gap-details{
    margin: 0 0.5rem;
  }
  
  .service-card{
    width: 170px;
    height: 220px;
  }
  
  .services-heading{
    margin: 0;
  }
  
  .services-information{
    height: auto;
  }
  
  .service-details{
    padding: 0 0.55rem;
  }
  
  #s1{
    width: auto;
  }
  
  #child{
    width: 100%;
  }
  
  #img-child{
    right: auto;
    left: auto;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  
  .exp-img{
    visibility: hidden;
  }
  
  .in-action{
    display: none;
  }
}

